.primary-value {
  margin-top: 1em;
}

.main-content {
  --padding-top: 3em;
}

csdemo-condition {
  --csdemo-condition-image-height: 212px;
  --csdemo-condition-label-font-size: 24px;
}

csdemo-temperature {
  cursor: pointer;
}
